<script setup>
import { onMounted, ref } from "vue";
import { useRouter } from "vue-router";

const router = useRouter();

let about = ref({
    id: "",
    description: "",
    cv: null,
    image: null,
    url_cv: null,
    url_image: null,
});

onMounted(async () => {
    getAbout();
});

const handleFileUpload = (e, doc = "cv") => {
    about.value[doc] = e.target.files[0];
    console.log(about.value);
    // this.skill.image = e.target.files[0];
};

const getAbout = async () => {
    const response = await axios.get("/api/abouts/0");
    const { id, description, image, cv } = response.data.about;

    Object.assign(about.value, {
        id,
        description,
        url_image: image,
        url_cv: cv,
    });
    // about.value = response.data.about;
    console.log(about.value);
};

const saveAbout = async () => {
    const formData = new FormData();
    formData.append("description", about.value.description);
    if (about.value.cv) formData.append("cv", about.value.cv);
    if (about.value.image) formData.append("image", about.value.image);

    try {
        await axios.post(`/api/abouts/update/${about.value.id}`, formData, {
            headers: { "Content-Type": "multipart/form-data" },
        });
        about.value.cv = null;
        about.value.image = null;
        await getAbout();
        toast.fire({
            icon: "success",
            title: `About updated successfully`,
        });
    } catch (error) {
        console.log("error", error);
        Swal.fire("Failed!", "There was something wrong", "error");
    }
};
</script>
<template>
    <div class="row">
        <div class="col-md-8">
            <form @submit.prevent="saveAbout">
                <div class="mb-3">
                    <label for="description" class="form-label">About</label>
                    <textarea
                        id="description"
                        name="description"
                        class="form-control"
                        v-model="about.description"
                    />
                </div>
                <div class="custom-file mb-3">
                    <label for="formFile" class="custom-file-label"
                        >Upload CV</label
                    >
                    <input
                        class="custom-file-input"
                        type="file"
                        id="formFile"
                        @change="handleFileUpload($event, 'cv')"
                    />
                </div>
                <div class="custom-file mb-3">
                    <label for="formImg" class="custom-file-label"
                        >Upload Image</label
                    >
                    <input
                        class="custom-file-input"
                        type="file"
                        id="formImg"
                        @change="handleFileUpload($event, 'image')"
                    />
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">
                        Update
                    </button>
                </div>
            </form>
        </div>
        <div class="col-md-4 text-center">
            <h5>About Image</h5>
            <img
                :src="about.url_image"
                width="150"
                class="img-thumbnail mx-auto d-block"
            />
            <br />
            <a :href="about.url_cv" target="_blank" class="btn btn-info"
                >File CV</a
            >
        </div>
    </div>
</template>
