<script>
import EditorPrimary from "../partials/EditorPrimary.vue";

export default {
    components: {
        EditorPrimary,
    },
    data() {
        return {
            category: { id: "", name: "" },
            categories: [],
            cols: [
                { title: "#", key: "id" },
                { title: "Category", key: "name" },
            ],
            formCols: [
                {
                    name: "name",
                    title: "Category Name",
                    type: "text",
                },
            ],
        };
    },
};
</script>

<template>
    <EditorPrimary
        :columns="cols"
        :formColumns="formCols"
        :_item="category"
        :_items="categories"
        :title="'Category'"
        :dbtable="'categories'"
        :methodUpdate="'put'"
    ></EditorPrimary>
</template>
