<script>
export default {
    data() {
        return {
            password: {
                password: "",
                new_password: "",
                repeat_password: "",
            },
        };
    },
    methods: {
        async changePassword() {
            try {
                await axios.post("/api/change-password", this.password);
                this.password.password = "";
                this.password.new_password = "";
                this.password.repeat_password = "";

                toast.fire({
                    icon: "success",
                    title: `Password changed successfully`,
                });
            } catch (err) {
                let msg = "There was something wrong";
                if (err.response.data.message) {
                    msg = err.response.data.message;
                }
                console.log("error", err);
                Swal.fire("Failed!", msg, "error");
            }
        },
    },
};
</script>
<template>
    <div class="row">
        <div class="col-md-12">
            <form @submit.prevent="changePassword">
                <div class="mb-3">
                    <label for="oldPassword" class="form-label"
                        >Old Password</label
                    >
                    <input
                        type="password"
                        id="oldPassword"
                        class="form-control"
                        v-model="password.password"
                        required
                    />
                </div>
                <div class="mb-3">
                    <label for="newPassword" class="form-label"
                        >New Password</label
                    >
                    <input
                        type="password"
                        id="newPassword"
                        class="form-control"
                        v-model="password.new_password"
                        required
                    />
                </div>
                <div class="mb-3">
                    <label for="againPassword" class="form-label"
                        >Repeat Password</label
                    >
                    <input
                        type="password"
                        id="againPassword"
                        class="form-control"
                        v-model="password.repeat_password"
                        required
                    />
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">
                        Change
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
