<script>
import CustomTable from "../partials/Table.vue";
import CustomForm from "../partials/CustomForm.vue";
import EditorPrimary from "../partials/EditorPrimary.vue";

export default {
    components: {
        EditorPrimary,
        CustomTable,
        CustomForm,
    },
    mounted() {
        console.log(this.$refs.editorComponent);
    },
    data() {
        return {
            title: "Portfolio",
            portfolio: {
                id: "",
                title: "",
                link: "",
                target: "",
                image: null,
                url_image: null,
                target: "_blank",
                category_id: "",
                skills: [],
            },
            categories: [],
            skills: [],
            portfolios: [],
            cols: [
                { title: "#", key: "id" },
                { title: "Image", key: "image", type: "image" },
                { title: "Title", key: "title", type: "text" },
            ],
            formCols: [
                { name: "title", title: "Title", text: "text" },
                { name: "link", title: "Project Link", text: "text" },
            ],
        };
    },
    watch: {
        portfolio(newValue) {
            this.$refs.editorComponent.item.category_id = newValue.category_id;
            this.$refs.editorComponent.item.skills = newValue.skills;
        },
    },
};
</script>
<template>
    <EditorPrimary
        :columns="cols"
        :formColumns="formCols"
        :_item="portfolio"
        :_items="portfolios"
        :title="title"
        :dbtable="'portfolios'"
        ref="editorComponent"
    >
        <template #formstart>
            <div class="custom-file mb-3">
                <label for="formImg" class="custom-file-label"
                    >Upload Image</label
                >
                <input
                    class="custom-file-input"
                    type="file"
                    id="formImg"
                    @change="
                        $refs.editorComponent.handleFileUpload($event, 'image')
                    "
                />
            </div>
        </template>
        <template #formend>
            <div class="mb-3">
                <label for="category" class="form-label">Select Category</label>
                <select
                    id="category"
                    v-model="portfolio.category_id"
                    class="form-control"
                >
                    <template
                        v-for="opcat in $refs.editorComponent.response
                            .categories"
                        :key="opcat.id"
                    >
                        <option :value="opcat.id">
                            {{ opcat.name }}
                        </option>
                    </template>
                </select>
            </div>
            <div class="mb-3">
                <label for="target" class="form-label">Select Target</label>
                <select
                    id="target"
                    v-model="portfolio.target"
                    class="form-control"
                >
                    <template
                        v-for="(targ, index) in ['_blank', '_self']"
                        :key="index"
                    >
                        <option :value="targ">
                            {{ targ }}
                        </option>
                    </template>
                </select>
            </div>
            <div class="mb-3">
                <label for="skill" class="form-label">Select Skills</label>
                <select
                    class="form-control"
                    name="skill"
                    id="skill"
                    v-model="portfolio.skills"
                    aria-label="multiple select example"
                    multiple
                >
                    <template
                        v-for="opsk in $refs.editorComponent.response.skills"
                        :key="opsk.id"
                    >
                        <option :value="opsk.id">
                            {{ opsk.name }}
                        </option>
                    </template>
                </select>
            </div>
        </template>
    </EditorPrimary>
</template>
