<script>
export default {
    data() {
        return {
            profile: {
                name: "",
                email: "",
                avatar: null,
                url_avatar: null,
                mobile: "",
                email_address: "",
                description: "",
            },
        };
    },
    mounted() {
        this.getProfile();
    },
    methods: {
        async getProfile() {
            try {
                const { data } = await axios.get("/api/profile");
                Object.assign(this.profile, {
                    name: data.user.name,
                    email: data.user.email,
                    mobile: data.user.mobile,
                    email_address: data.user.email_address,
                    description: data.user.description,
                    url_avatar: data.user.avatar,
                });
            } catch (error) {
                console.error(error);
            }
        },
        async saveProfile() {
            const formData = new FormData();
            for (const mykey of Object.keys(this.profile)) {
                if (this.profile[mykey] && !["url_avatar"].includes(mykey)) {
                    formData.append(mykey, this.profile[mykey]);
                }
            }

            try {
                await axios.post("/api/profile", formData);
                await this.getProfile();

                toast.fire({
                    icon: "success",
                    title: `Profile updated successfully`,
                });
            } catch (error) {
                console.log("error", error);
                Swal.fire("Failed!", "There was something wrong", "error");
            }
        },
        handleFileUpload(e, key) {
            if (typeof this.profile[key] !== "undefined")
                this.profile[key] = e.target.files[0];
        },
    },
};
</script>
<template>
    <form @submit.prevent="saveProfile">
        <h4 class="text-primary">Edit General Settings</h4>
        <div class="row">
            <div class="col-md-8">
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input
                        type="text"
                        id="name"
                        class="form-control"
                        v-model="profile.name"
                    />
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input
                        type="email"
                        id="email"
                        class="form-control"
                        v-model="profile.email"
                    />
                </div>
                <div class="custom-file mb-3">
                    <label for="formAvatar" class="custom-file-label"
                        >Upload Avatar</label
                    >
                    <input
                        class="custom-file-input"
                        type="file"
                        id="formAvatar"
                        @change="handleFileUpload($event, 'avatar')"
                    />
                </div>
            </div>
            <div class="col-md-4 text-center">
                <h5>Avatar Image</h5>
                <img
                    :src="profile.url_avatar"
                    width="150"
                    class="img-thumbnail mx-auto d-block"
                />
            </div>
        </div>
        <!-- CONTACT DETAILS -->
        <h4 class="text-primary mt-3">Contact Details</h4>
        <div class="row">
            <div class="col-md-12">
                <div class="mb-3">
                    <label for="mobile" class="form-label">Mobile No</label>
                    <input
                        type="text"
                        id="mobile"
                        class="form-control"
                        v-model="profile.mobile"
                    />
                </div>
                <div class="mb-3">
                    <label for="emailadd" class="form-label"
                        >Email Address</label
                    >
                    <input
                        type="email"
                        id="emailadd"
                        class="form-control"
                        v-model="profile.email_address"
                    />
                </div>
                <div class="mb-3">
                    <label for="ctdescription" class="form-label"
                        >Contact Description</label
                    >
                    <textarea
                        id="ctdescription"
                        class="form-control"
                        rows="5"
                        v-model="profile.description"
                    ></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">
                        Update
                    </button>
                </div>
            </div>
        </div>
    </form>
</template>
