<script>
import EditorPrimary from "../partials/EditorPrimary.vue";

export default {
    components: {
        EditorPrimary,
    },
    data() {
        return {
            title: "Service",
            action: "get",
            textAction: "Create New",
            service: { id: "", title: "", icon: null, description: "" },
            services: [],
            cols: [
                { title: "#", key: "id" },
                { title: "Icon", key: "icon", type: "image" },
                { title: "Service Name", key: "title" },
            ],
            formCols: [
                { name: "title", title: "Title", text: "text" },
                { name: "description", title: "Description", text: "textarea" },
            ],
        };
    },
};
</script>

<template>
    <EditorPrimary
        :columns="cols"
        :formColumns="formCols"
        :_item="service"
        :_items="services"
        :title="title"
        :dbtable="'services'"
        ref="editorComponent"
    >
        <template #formstart>
            <div class="custom-file mb-3">
                <label for="formImg" class="custom-file-label"
                    >Upload Icon</label
                >
                <input
                    class="custom-file-input"
                    type="file"
                    id="formImg"
                    @change="
                        $refs.editorComponent.handleFileUpload($event, 'icon')
                    "
                />
            </div>
        </template>
    </EditorPrimary>
</template>
