<script>
export default {
    name: "SettingPage",
    data() {
        return {
            settings: {
                name: "",
                description: "",
                logo: null,
                favicon: null,
                hero: null,
                url_logo: "",
                url_favicon: "",
                url_hero: "",
            },
        };
    },
    mounted() {
        this.getSettings();
    },
    methods: {
        async getSettings() {
            try {
                const { data } = await axios.get("/api/settings");
                this.settings.name = data.settings.name;
                this.settings.description = data.settings.description;
                this.settings.url_logo = data.settings.logo;
                this.settings.url_favicon = data.settings.favicon;
                this.settings.url_hero = data.settings.hero;
            } catch (error) {}
        },
        async saveSetting() {
            const formData = new FormData();
            for (const mykey of Object.keys(this.settings)) {
                if (
                    this.settings[mykey] &&
                    !["url_logo", "url_favicon", "url_hero"].includes(mykey)
                ) {
                    // payload[mykey] = this.settings[mykey];
                    formData.append(mykey, this.settings[mykey]);
                }
            }

            try {
                await axios.post("/api/settings", formData);
                await this.getSettings();

                toast.fire({
                    icon: "success",
                    title: `Settings updated successfully`,
                });
            } catch (error) {
                console.log("error", err);
                Swal.fire("Failed!", "There was something wrong", "error");
            }
        },
        handleFileUpload(e, key) {
            if (typeof this.settings[key] !== "undefined")
                this.settings[key] = e.target.files[0];
        },
    },
};
</script>
<template>
    <h4 class="text-primary">General Settings</h4>
    <div class="row">
        <div class="col-md-12">
            <form @submit.prevent="saveSetting">
                <div class="custom-file mb-3">
                    <label for="formLogo" class="custom-file-label"
                        >Upload Logo</label
                    >
                    <input
                        class="custom-file-input"
                        type="file"
                        id="formLogo"
                        @change="handleFileUpload($event, 'logo')"
                    />
                </div>
                <div class="custom-file mb-3">
                    <label for="formFav" class="custom-file-label"
                        >Upload Favicon</label
                    >
                    <input
                        class="custom-file-input"
                        type="file"
                        id="formFav"
                        @change="handleFileUpload($event, 'favicon')"
                    />
                </div>
                <div class="custom-file mb-3">
                    <label for="formHero" class="custom-file-label"
                        >Upload Hero Image</label
                    >
                    <input
                        class="custom-file-input"
                        type="file"
                        id="formHero"
                        @change="handleFileUpload($event, 'hero')"
                    />
                </div>
                <div class="mb-3">
                    <label for="siteName" class="form-label">Site Name</label>
                    <input
                        type="text"
                        id="siteName"
                        class="form-control"
                        v-model="settings.name"
                    />
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label"
                        >Description</label
                    >
                    <textarea
                        id="description"
                        class="form-control"
                        rows="5"
                        v-model="settings.description"
                    ></textarea>
                </div>
                <div class="mb-3">
                    <button class="btn btn-primary" type="submit">
                        Update
                    </button>
                </div>
            </form>
        </div>
        <!-- <div class="col-md-4 text-center">
            <h5>About Image</h5>
            <img width="150" class="img-thumbnail mx-auto d-block" />
            <br />
            <a target="_blank" class="btn btn-info">File CV</a>
        </div> -->
    </div>
</template>
