<script>
import EditorPrimary from "../partials/EditorPrimary.vue";

export default {
    components: {
        EditorPrimary,
    },
    data() {
        return {
            title: "Skill",
            skill: { id: "", image: null, name: "", percent: "" },
            skills: [],
            cols: [
                { title: "#", key: "id" },
                { title: "Image", key: "image", type: "image" },
                { title: "Skill", key: "name" },
                { title: "Percent", key: "percent" },
            ],
            formCols: [
                { name: "name", title: "Name", text: "text" },
                { name: "percent", title: "Percent", text: "text" },
            ],
        };
    },
};
</script>

<template>
    <EditorPrimary
        :columns="cols"
        :formColumns="formCols"
        :_item="skill"
        :_items="skills"
        :title="title"
        :dbtable="'skills'"
        ref="editorComponent"
    >
        <template #formstart>
            <div class="custom-file mb-3">
                <label for="formImg" class="custom-file-label"
                    >Upload Icon</label
                >
                <input
                    class="custom-file-input"
                    type="file"
                    id="formImg"
                    @change="
                        $refs.editorComponent.handleFileUpload($event, 'image')
                    "
                />
            </div>
        </template>
    </EditorPrimary>
</template>
