<script>
import EditorPrimary from "../partials/EditorPrimary.vue";

export default {
    components: {
        EditorPrimary,
    },
    data() {
        return {
            title: "Social",
            action: "get",
            textAction: "Create New",
            social: { id: "", class_name: "", link: "" },
            socials: [],
            cols: [
                { title: "#", key: "id" },
                { title: "Class Name", key: "class_name" },
                { title: "Link", key: "link" },
            ],
            formCols: [
                {
                    name: "link",
                    title: "Link",
                    text: "text",
                },
            ],
        };
    },
};
</script>
<template>
    <EditorPrimary
        :columns="cols"
        :formColumns="formCols"
        :_item="social"
        :_items="socials"
        :title="title"
        :dbtable="'socials'"
        :methodUpdate="'put'"
        ref="editorComponent"
    >
        <template #formstart>
            <div class="mb-3">
                <label for="classname" class="form-label"
                    >Class Name
                    <a href="https://fontawesome.com/" target="_blank"
                        >Fontawesome</a
                    >
                </label>
                <input
                    id="classname"
                    type="text"
                    class="form-control"
                    placeholder="Enter Fontawesome class name"
                    v-model="social.class_name"
                />
            </div>
        </template>
    </EditorPrimary>
</template>
