<script setup>
import { onMounted, ref } from "vue";

import EditorPrimary from "../partials/EditorPrimary.vue";

let taglines = ref([]);
let tagline = ref({ id: "", name: "" });
const cols = [
    { title: "#", key: "id" },
    { title: "Tagline", key: "name" },
];
const formCols = [{ name: "name", title: "Tagline", text: "text" }];
</script>

<template>
    <EditorPrimary
        :columns="cols"
        :formColumns="formCols"
        :_item="tagline"
        :_items="taglines"
        :title="'Tagline'"
        :dbtable="'taglines'"
        :methodUpdate="'put'"
    ></EditorPrimary>
</template>
