@import "animations";

:root {
    --primary-color: #0d0c0c;
    --secondary-color: #1b1a1b;
    --third-color: #040504;
    --fourth-color: #7c238c;
    --fifth-color: #fefffe;
    --square-size: 150px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
        "Helvetica Neue", sans-serif;
}
body {
    background-color: var(--primary-color);
    /* min-height: 100vh; */
}
footer {
    background-color: var(--third-color);
    // height: 400px;
    color: var(--fifth-color);
    padding: 50px 0;

    .socials {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 20px;

        a {
            background-color: #1b1a1b;
            color: var(--fifth-color);
            text-decoration: none;
            font-size: 1.5rem;
            width: 3.5rem;
            height: 3.5rem;
            line-height: 3.5rem;
            text-align: center;
            margin: 0 10px;
            transition: all 0.3s ease-in-out;
            border-radius: 50%;

            &:hover {
                background-color: var(--fourth-color);
            }
        }
    }
    .copyright {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        padding: 20px;
        font-size: 1.5rem;
    }
}
.content {
    width: 70%;
    margin: auto;
}
.content-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;
}
nav {
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 10;
    margin-top: 10px;

    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        align-items: center;

        li {
            display: inline-block;
            margin: 0 10px;
            position: relative;

            &.active {
                a {
                    color: var(--fourth-color);
                }
            }
            a {
                color: var(--fifth-color);
                font-size: 20px;
                font-weight: bold;
            }
        }
    }

    .icon {
        display: none;
        font-size: 30px;
        color: var(--fifth-color);
    }
    a {
        text-decoration: none;
    }
}
.navbar-dark {
    background-color: var(--secondary-color);
    opacity: 0.8;
    height: 100px;
    margin: 0;
}

.logo {
    img {
        max-width: 50px;
        max-height: 100%;
        object-fit: cover;
    }
}

.logo-c {
    // margin: auto;
    width: fit-content;
    position: relative;

    .c1 {
        background: red;
        width: 100px;
        height: 50px;
        border-radius: 30px;

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: -20px;
            width: 80px;
            height: 100px;
            background: red;
            border-radius: 50%;
            /* transform: rotate(45deg); */
            z-index: -1;
        }
        &::after {
            content: "";
            position: absolute;
            top: 50px;
            left: -10px;
            width: 120px;
            height: 80px;
            background: white;
            border-radius: 60px;
            /* transform: rotate(-45deg); */
            z-index: -1;
        }
    }
    .c2 {
        position: relative;
        margin-top: 10px;
        margin-left: 10px;
        background: blue;
        width: 60px;
        height: 50px;
        border-radius: 25px;

        &::before {
            content: "";
            position: absolute;
            top: 0px;
            left: -20px;
            width: 50px;
            height: 100px;
            background: blue;
            border-radius: 81% 19% 70% 30% / 46% 0% 100% 54%;
            /* transform: rotate(45deg); */
            z-index: -1;
        }
        &::after {
            content: "";
            position: absolute;
            top: 50px;
            left: -10px;
            width: 100px;
            height: 70px;
            background: rgb(255, 255, 255);
            border-radius: 36% 64% 100% 0% / 63% 0% 100% 37%;
            /* transform: rotate(-45deg); */
            z-index: -1;
        }
    }
}

main {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 350vh;
    // margin-top: 100px;
    /* border: 10px solid white; */
}

#home,
#about,
#portfolio,
#contact {
    width: 100%;
    // height: 25%;
    /* background-color: var(--secondary-color); */
}

.about-area,
.portfolio-area,
.contact-area,
.skill-area {
    padding: 70px 0;
}

.main-area {
    margin-top: 50px;
}

#particle {
    margin: 0 auto;
    width: 100%;
    height: 40rem;
}
.home-content {
    position: absolute;
    /* flex-wrap: wrap;
            justify-content: center;
            align-items: center; */
    left: 0;
    right: 0;
    margin: auto;
    width: fit-content;
    top: 10rem;
    z-index: 1;
}
.about-area {
    .info {
        display: grid;
        grid-template-columns: 1fr 1.5fr;
        justify-content: center;
        align-items: center;
        color: var(--fifth-color);
        gap: 3rem;
        font-size: 20px;
        // font-weight: bold;

        &-content {
            display: grid;
            // grid-template-rows: repeat(4, 1fr);
            gap: 10px;

            h2 {
                grid-column: span 2;
                text-align: center;
                padding: 20px 0;
            }
        }
        &-description {
            grid-row: span 2;
            text-align: justify;
            color: #aaa;
        }
        &-item {
            h3 {
                font-size: 20px;
                font-weight: normal;
                span {
                    color: #aaa;
                    font-weight: lighter;
                }
            }
        }
    }
}
.skill-area {
    .main-area {
        .items {
            /* display: grid;
            grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
            gap: 20px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;

            .card-skill {
                width: var(--square-size);
                height: var(--square-size);
                text-align: center;
                background-color: var(--secondary-color);
                box-shadow: var(--third-color) 0px 10px 20px;
                color: var(--fifth-color);
                border-radius: 10px;
                padding: 20px;

                &:hover {
                    box-shadow: var(--fourth-color) 0px 0px 20px;
                }
                .image {
                    width: 100%;
                    height: 70%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-end;
                }
                img {
                    max-width: 100%;
                    max-height: 100%;
                    object-fit: cover;
                }
                .name {
                    font-weight: 600;
                    font-family: "Gill Sans", "Gill Sans MT", Calibri,
                        "Trebuchet MS", sans-serif;
                    margin-top: 15px;
                    letter-spacing: 1.5px;
                }
            }
        }
    }
}
.portfolio-area {
    .main-area {
        .items {
            display: grid;
            /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
            grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
            grid-gap: 20px;
            justify-content: center;
            align-items: center;

            .card-item {
                background-color: red;
                /* min-height: 200px; */
                /* padding: 50px; */
                /* min-width: 17rem; */
                min-height: 15rem;
                overflow: hidden;
                // transition: all 0.3s step-end;

                &:hover {
                    // background-color: var(--secondary-color);
                    & .card-item-content {
                        transform: translateY(0%);
                    }
                }

                &-content {
                    background-color: var(--secondary-color);
                    height: 15rem;
                    // height: 100%;
                    transition: 0.2s linear;
                    transform: translateY(-100%);
                    display: flex;
                    align-items: center;
                    justify-content: space-evenly;
                    flex-direction: column;
                    color: var(--fifth-color);

                    ul {
                        li {
                            list-style: none;
                            display: inline-block;
                            // margin: 0 5px;
                            position: relative;
                            // color: var(--fifth-color);
                            background-color: var(--fourth-color);
                            padding: 7px;
                            // box-shadow: var(--third-color) 0px 10px 20px;
                        }
                    }
                }
            }
        }
    }
}
.contact-area {
    .contact-info {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        margin: 20px 0;
        color: var(--fifth-color);
        flex-wrap: wrap;

        &-content {
            height: 8rem;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            text-align: center;
            margin: 0;

            i {
                font-size: 2.5rem;
            }
            .info {
                &-title {
                    font-size: 20px;
                    font-weight: bold;
                    text-transform: capitalize;
                    margin-bottom: 5px;
                }
                &-text {
                    font-size: 19px;
                    color: #bababa;
                }
            }
        }
    }
    .form-contact {
        margin-top: 50px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        :nth-child(3),
        :nth-child(4) {
            grid-column: 1 / span 2;
        }
        :nth-child(5) {
            grid-column: 2 / span 1;
            align-items: end;
        }
    }
}
.description {
    text-align: center;
    color: var(--fifth-color);
    font-size: 20px;
    font-weight: bold;
}
.form-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* background-color: var(--third-color); */

    input,
    textarea {
        border: none;
        background-color: var(--secondary-color);
        border-radius: 5px;
        padding: 10px;
        color: #747474;
        box-shadow: 15px 15px 15px var(--third-color);
    }
    input:focus,
    textarea:focus {
        outline: none;
    }
    input,
    textarea,
    input::placeholder,
    textarea::placeholder {
        /* color: var(--fifth-color); */
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
    }
    input {
        width: 100%;
        height: 50px;
        /* border-bottom: 2px solid var(--fifth-color); */
        /* background-color: var(--fourth-color); */
        /* font-weight: bold; */
    }
    textarea {
        width: 100%;
        height: 100px;
        /* font-weight: bold; */
    }
}

.btn-submit {
    min-width: 100px;
    /* height: 50px; */
    border: none;
    border-radius: 5px;
    background-color: var(--fourth-color);
    color: var(--fifth-color);
    font-size: 15px;
    font-weight: bold;
    padding: 15px 30px;
    cursor: pointer;
    /* box-shadow: 5px 5px 15px #1B1A1B; */

    &:active {
        background-color: var(--fifth-color);
        color: var(--fourth-color);
    }
}

.title {
    text-align: center;
    color: var(--fifth-color);
    font-size: 40px;
    font-weight: bold;

    span {
        color: var(--fourth-color);
    }
}

.letter {
    cursor: pointer;
    display: inline-block;
    font-size: 100px;
    user-select: none;
    line-height: 1.2;
    opacity: 0;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;

    &:hover {
        color: var(--fourth-color);
    }
}

.words {
    text-align: center;
    h1 {
        color: #fff;
        margin: 0;

        font-weight: 600;
        // line-height: 5rem;
        // letter-spacing: 2px;
    }
    h1,
    span {
        font-family: "fantasy", cursive, sans-serif, "Times New Roman";
    }
}
.space {
    display: inline-block;
    width: 25px;
}

@media screen and (max-width: 800px) {
    .content {
        width: 90%;
    }
    .letter {
        font-size: 50px;
    }
    nav {
        margin: 0;

        &.navbar-dark {
            height: 69px;
        }
        ul {
            display: none;
        }
        .icon {
            display: block;
        }
        .content {
            width: 100%;
        }
        .content-nav {
            flex-wrap: wrap;
        }
        &.navbar-responsive {
            ul {
                display: block;
                position: relative;
                // top: 80px;
                width: 100%;
                margin-top: 10px;
                opacity: 0.8;

                li {
                    float: none;
                    display: block;
                    text-align: left;
                    background-color: var(--secondary-color);
                    border-bottom: 1px solid var(--third-color);
                    // opacity: 0.8;
                    padding: 20px;

                    &:hover {
                        background-color: var(--fourth-color);
                    }
                    &.active a {
                        color: var(--fifth-color);
                    }
                }
            }
        }
    }
    .about-area {
        .info {
            grid-template-columns: 1fr;
        }
    }
}

@media screen and (max-width: 600px) {
    .contact-area {
        .form-contact {
            grid-template-columns: 1fr;

            :nth-child(3),
            :nth-child(4),
            :nth-child(5) {
                grid-column: 1;
            }
        }
    }
}

@media screen and (max-width: 350px) {
    footer {
        .socials {
            a {
                font-size: 1rem;
                width: 2rem;
                height: 2rem;
                line-height: 2rem;
            }
        }
    }
}
