.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.flip {
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  -webkit-animation-name: flip;
  animation-name: flip;
}

@-webkit-keyframes rotateIn {
  0% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  100% {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}

@keyframes rotateIn {
  0% {
    transform-origin: center;
    transform: rotate3d(0, 0, 1, -200deg);
    opacity: 0;
  }
  100% {
    transform-origin: center;
    transform: none;
    opacity: 1;
  }
}
.rotateIn {
  -webkit-animation-name: rotateIn;
  animation-name: rotateIn;
}

@-webkit-keyframes bounceIn {
  0%, 100%, 20%, 40%, 60%, 80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
@keyframes bounceIn {
  0%, 100%, 20%, 40%, 60%, 80% {
    transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    transform: scale3d(0.97, 0.97, 0.97);
  }
  100% {
    opacity: 1;
    transform: scale3d(1, 1, 1);
  }
}
.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: 0.75s;
  animation-duration: 0.75s;
}

@-webkit-keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
@keyframes rubberBand {
  0% {
    transform: scale3d(1, 1, 1);
  }
  30% {
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    transform: scale3d(1, 1, 1);
  }
}
.rubberBand {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: ease-out;
  animation-fill-mode: ease-out;
}

:root {
  --primary-color: #0d0c0c;
  --secondary-color: #1b1a1b;
  --third-color: #040504;
  --fourth-color: #7c238c;
  --fifth-color: #fefffe;
  --square-size: 150px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--primary-color);
  /* min-height: 100vh; */
}

footer {
  background-color: var(--third-color);
  color: var(--fifth-color);
  padding: 50px 0;
}
footer .socials {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
}
footer .socials a {
  background-color: #1b1a1b;
  color: var(--fifth-color);
  text-decoration: none;
  font-size: 1.5rem;
  width: 3.5rem;
  height: 3.5rem;
  line-height: 3.5rem;
  text-align: center;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
  border-radius: 50%;
}
footer .socials a:hover {
  background-color: var(--fourth-color);
}
footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  font-size: 1.5rem;
}

.content {
  width: 70%;
  margin: auto;
}

.content-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 20px;
}

nav {
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 10;
  margin-top: 10px;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  display: inline-block;
  margin: 0 10px;
  position: relative;
}
nav ul li.active a {
  color: var(--fourth-color);
}
nav ul li a {
  color: var(--fifth-color);
  font-size: 20px;
  font-weight: bold;
}
nav .icon {
  display: none;
  font-size: 30px;
  color: var(--fifth-color);
}
nav a {
  text-decoration: none;
}

.navbar-dark {
  background-color: var(--secondary-color);
  opacity: 0.8;
  height: 100px;
  margin: 0;
}

.logo img {
  max-width: 50px;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo-c {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
.logo-c .c1 {
  background: red;
  width: 100px;
  height: 50px;
  border-radius: 30px;
}
.logo-c .c1::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -20px;
  width: 80px;
  height: 100px;
  background: red;
  border-radius: 50%;
  /* transform: rotate(45deg); */
  z-index: -1;
}
.logo-c .c1::after {
  content: "";
  position: absolute;
  top: 50px;
  left: -10px;
  width: 120px;
  height: 80px;
  background: white;
  border-radius: 60px;
  /* transform: rotate(-45deg); */
  z-index: -1;
}
.logo-c .c2 {
  position: relative;
  margin-top: 10px;
  margin-left: 10px;
  background: blue;
  width: 60px;
  height: 50px;
  border-radius: 25px;
}
.logo-c .c2::before {
  content: "";
  position: absolute;
  top: 0px;
  left: -20px;
  width: 50px;
  height: 100px;
  background: blue;
  border-radius: 81% 19% 70% 30%/46% 0% 100% 54%;
  /* transform: rotate(45deg); */
  z-index: -1;
}
.logo-c .c2::after {
  content: "";
  position: absolute;
  top: 50px;
  left: -10px;
  width: 100px;
  height: 70px;
  background: rgb(255, 255, 255);
  border-radius: 36% 64% 100% 0%/63% 0% 100% 37%;
  /* transform: rotate(-45deg); */
  z-index: -1;
}

main {
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 350vh;
  /* border: 10px solid white; */
}

#home,
#about,
#portfolio,
#contact {
  width: 100%;
  /* background-color: var(--secondary-color); */
}

.about-area,
.portfolio-area,
.contact-area,
.skill-area {
  padding: 70px 0;
}

.main-area {
  margin-top: 50px;
}

#particle {
  margin: 0 auto;
  width: 100%;
  height: 40rem;
}

.home-content {
  position: absolute;
  /* flex-wrap: wrap;
          justify-content: center;
          align-items: center; */
  left: 0;
  right: 0;
  margin: auto;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  top: 10rem;
  z-index: 1;
}

.about-area .info {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  justify-content: center;
  align-items: center;
  color: var(--fifth-color);
  gap: 3rem;
  font-size: 20px;
}
.about-area .info-content {
  display: grid;
  gap: 10px;
}
.about-area .info-content h2 {
  grid-column: span 2;
  text-align: center;
  padding: 20px 0;
}
.about-area .info-description {
  grid-row: span 2;
  text-align: justify;
  color: #aaa;
}
.about-area .info-item h3 {
  font-size: 20px;
  font-weight: normal;
}
.about-area .info-item h3 span {
  color: #aaa;
  font-weight: lighter;
}

.skill-area .main-area .items {
  /* display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); */
  gap: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.skill-area .main-area .items .card-skill {
  width: var(--square-size);
  height: var(--square-size);
  text-align: center;
  background-color: var(--secondary-color);
  box-shadow: var(--third-color) 0px 10px 20px;
  color: var(--fifth-color);
  border-radius: 10px;
  padding: 20px;
}
.skill-area .main-area .items .card-skill:hover {
  box-shadow: var(--fourth-color) 0px 0px 20px;
}
.skill-area .main-area .items .card-skill .image {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.skill-area .main-area .items .card-skill img {
  max-width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.skill-area .main-area .items .card-skill .name {
  font-weight: 600;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-top: 15px;
  letter-spacing: 1.5px;
}

.portfolio-area .main-area .items {
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}
.portfolio-area .main-area .items .card-item {
  background-color: red;
  /* min-height: 200px; */
  /* padding: 50px; */
  /* min-width: 17rem; */
  min-height: 15rem;
  overflow: hidden;
}
.portfolio-area .main-area .items .card-item:hover .card-item-content {
  transform: translateY(0%);
}
.portfolio-area .main-area .items .card-item-content {
  background-color: var(--secondary-color);
  height: 15rem;
  transition: 0.2s linear;
  transform: translateY(-100%);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color: var(--fifth-color);
}
.portfolio-area .main-area .items .card-item-content ul li {
  list-style: none;
  display: inline-block;
  position: relative;
  background-color: var(--fourth-color);
  padding: 7px;
}

.contact-area .contact-info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px 0;
  color: var(--fifth-color);
  flex-wrap: wrap;
}
.contact-area .contact-info-content {
  height: 8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  margin: 0;
}
.contact-area .contact-info-content i {
  font-size: 2.5rem;
}
.contact-area .contact-info-content .info-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 5px;
}
.contact-area .contact-info-content .info-text {
  font-size: 19px;
  color: #bababa;
}
.contact-area .form-contact {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}
.contact-area .form-contact :nth-child(3),
.contact-area .form-contact :nth-child(4) {
  grid-column: 1/span 2;
}
.contact-area .form-contact :nth-child(5) {
  grid-column: 2/span 1;
  align-items: end;
}

.description {
  text-align: center;
  color: var(--fifth-color);
  font-size: 20px;
  font-weight: bold;
}

.form-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: var(--third-color); */
}
.form-area input,
.form-area textarea {
  border: none;
  background-color: var(--secondary-color);
  border-radius: 5px;
  padding: 10px;
  color: #747474;
  box-shadow: 15px 15px 15px var(--third-color);
}
.form-area input:focus,
.form-area textarea:focus {
  outline: none;
}
.form-area input::-moz-placeholder, .form-area textarea::-moz-placeholder {
  /* color: var(--fifth-color); */
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.form-area input:-ms-input-placeholder, .form-area textarea:-ms-input-placeholder {
  /* color: var(--fifth-color); */
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.form-area input,
.form-area textarea,
.form-area input::placeholder,
.form-area textarea::placeholder {
  /* color: var(--fifth-color); */
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.form-area input {
  width: 100%;
  height: 50px;
  /* border-bottom: 2px solid var(--fifth-color); */
  /* background-color: var(--fourth-color); */
  /* font-weight: bold; */
}
.form-area textarea {
  width: 100%;
  height: 100px;
  /* font-weight: bold; */
}

.btn-submit {
  min-width: 100px;
  /* height: 50px; */
  border: none;
  border-radius: 5px;
  background-color: var(--fourth-color);
  color: var(--fifth-color);
  font-size: 15px;
  font-weight: bold;
  padding: 15px 30px;
  cursor: pointer;
  /* box-shadow: 5px 5px 15px #1B1A1B; */
}
.btn-submit:active {
  background-color: var(--fifth-color);
  color: var(--fourth-color);
}

.title {
  text-align: center;
  color: var(--fifth-color);
  font-size: 40px;
  font-weight: bold;
}
.title span {
  color: var(--fourth-color);
}

.letter {
  cursor: pointer;
  display: inline-block;
  font-size: 100px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  line-height: 1.2;
  opacity: 0;
  transition: all 0.3s ease-out;
}
.letter:hover {
  color: var(--fourth-color);
}

.words {
  text-align: center;
}
.words h1 {
  color: #fff;
  margin: 0;
  font-weight: 600;
}
.words h1,
.words span {
  font-family: "fantasy", cursive, sans-serif, "Times New Roman";
}

.space {
  display: inline-block;
  width: 25px;
}

@media screen and (max-width: 800px) {
  .content {
    width: 90%;
  }

  .letter {
    font-size: 50px;
  }

  nav {
    margin: 0;
  }
  nav.navbar-dark {
    height: 69px;
  }
  nav ul {
    display: none;
  }
  nav .icon {
    display: block;
  }
  nav .content {
    width: 100%;
  }
  nav .content-nav {
    flex-wrap: wrap;
  }
  nav.navbar-responsive ul {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 10px;
    opacity: 0.8;
  }
  nav.navbar-responsive ul li {
    float: none;
    display: block;
    text-align: left;
    background-color: var(--secondary-color);
    border-bottom: 1px solid var(--third-color);
    padding: 20px;
  }
  nav.navbar-responsive ul li:hover {
    background-color: var(--fourth-color);
  }
  nav.navbar-responsive ul li.active a {
    color: var(--fifth-color);
  }

  .about-area .info {
    grid-template-columns: 1fr;
  }
}
@media screen and (max-width: 600px) {
  .contact-area .form-contact {
    grid-template-columns: 1fr;
  }
  .contact-area .form-contact :nth-child(3),
.contact-area .form-contact :nth-child(4),
.contact-area .form-contact :nth-child(5) {
    grid-column: 1;
  }
}
@media screen and (max-width: 350px) {
  footer .socials a {
    font-size: 1rem;
    width: 2rem;
    height: 2rem;
    line-height: 2rem;
  }
}
