<script>
// import axios from "axios";

export default {
    data() {
        return {
            name: "",
            email: "",
            subject: "",
            message: "",
        };
    },
    methods: {
        async sendMessage() {
            const { name, email, subject, message } = this;
            const form = new FormData();
            form.append("name", name);
            form.append("email", email);
            form.append("subject", subject);
            form.append("message", message);

            try {
                const response = await axios.post(
                    "/api/contact",
                    form
                    // { headers: { "Content-Type": "multipart/form-data" } }
                );

                console.log(response.data);

                this.name = "";
                this.email = "";
                this.subject = "";
                this.message = "";

                toast.fire({
                    icon: "success",
                    title: `Message sent successfully`,
                });
            } catch (error) {
                console.log(error);
                toast.fire({
                    icon: "error",
                    title: `Error sending message`,
                });
            }
        },
    },
};
</script>
<template>
    <form class="form-contact" @submit.prevent="sendMessage">
        <div class="form-area">
            <input
                type="text"
                class="form-control"
                id="name"
                placeholder="Name*"
                v-model="name"
                required
            />
        </div>
        <div class="form-area">
            <input
                type="email"
                class="form-control"
                id="email"
                placeholder="Email*"
                v-model="email"
                required
            />
        </div>
        <div class="form-area">
            <input
                type="text"
                class="form-control"
                id="subject"
                placeholder="Subject...*"
                v-model="subject"
                required
            />
        </div>
        <div class="form-area">
            <textarea
                class="form-control"
                id="message"
                rows="3"
                placeholder="Message..."
                v-model="message"
            ></textarea>
        </div>
        <div class="form-area">
            <button type="submit" class="btn-submit">Send Message</button>
        </div>
    </form>
</template>
