<script>
export default {
    props: ["modelValue", "columns", "saveData"],
    emits: ["update:modelValue"],
};
</script>

<template>
    <form @submit.prevent="saveData">
        <slot name="start"></slot>
        <div class="mb-3" v-for="col in columns" :key="col">
            <label :for="col.name" class="form-label">{{ col.title }}</label>

            <input
                v-if="col.text != 'textarea'"
                :id="col.name"
                :type="col.text"
                class="form-control"
                :value="modelValue[col.name]"
                :placeholder="col.placeholder"
                @input="
                    $emit('update:modelValue', {
                        ...modelValue,
                        [col.name]: $event.target.value,
                    })
                "
            />
            <textarea
                v-else
                :id="col.name"
                class="form-control"
                :value="modelValue[col.name]"
                :placeholder="col.placeholder"
                @input="
                    $emit('update:modelValue', {
                        ...modelValue,
                        [col.name]: $event.target.value,
                    })
                "
            ></textarea>
        </div>
        <slot name="end"></slot>
        <div class="mb-3">
            <button class="btn btn-primary" type="submit">Save</button>
        </div>
    </form>
</template>
