<script>
import CustomTable from "./Table.vue";
import CustomForm from "./CustomForm.vue";

export default {
    components: {
        CustomTable,
        CustomForm,
    },
    mounted() {
        this.getItems();
    },
    props: {
        columns: Array,
        formColumns: Array,
        _item: Object,
        _items: Array,
        title: String,
        dbtable: String,
        editData: Function,
        deleteData: Function,
        methodUpdate: { type: String, default: "post" },
    },
    data() {
        return {
            action: "get",
            textAction: "Create New",
            item: this._item,
            newItem: this._item,
            items: this._items,
            cols: this.columns,
            formCols: this.formColumns,
            response: {},
        };
    },
    methods: {
        handleFileUpload(e, key) {
            if (typeof this.item[key] !== "undefined")
                this.item[key] = e.target.files[0];
        },
        async getItems() {
            const response = await axios.get(`/api/${this.dbtable}`);
            this.response = response.data;
            this.items = response.data[this.dbtable];
        },
        editItem(obj) {
            this.action = "edit";
            Object.assign(this.item, obj);
            if (typeof this.item.image !== "undefined") this.item.image = null;
            if (typeof this.item.cv !== "undefined") this.item.cv = null;
            if (typeof this.item.icon !== "undefined") this.item.icon = null;
        },
        async saveItem() {
            const formData = new FormData();
            const payload = {};

            for (const mykey of Object.keys(this.item)) {
                if (
                    this.item[mykey] &&
                    !["id", "user_id", "created_at", "updated_at"].includes(
                        mykey
                    )
                ) {
                    formData.append(mykey, this.item[mykey]);
                    payload[mykey] = this.item[mykey];
                }
            }

            let msg;
            try {
                if (this.action == "create") {
                    await axios.post(`/api/${this.dbtable}`, formData);
                    msg = "created";
                } else if (this.action == "edit") {
                    const headers = {
                        headers: { "Content-Type": "multipart/form-data" },
                    };
                    if (this.methodUpdate == "post") {
                        await axios.post(
                            `/api/${this.dbtable}/update/${this.item.id}`,
                            formData,
                            headers
                        );
                    } else {
                        await axios.put(
                            `/api/${this.dbtable}/${this.item.id}`,
                            payload
                        );
                    }
                    msg = "updated";
                }

                for (const mykey of Object.keys(this.item)) {
                    this.item[mykey] = null;
                }

                await this.getItems();
                this.action = "get";

                toast.fire({
                    icon: "success",
                    title: `${this.title} ${msg} successfully`,
                });
            } catch (err) {
                console.log("error", err);
                Swal.fire("Failed!", "There was something wrong", "error");
            }
        },
        async deleteItem(id) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Yes, delete it!",
            })
                .then(async (result) => {
                    if (result.value) {
                        await axios.delete(`/api/${this.dbtable}/${id}`);
                        this.getItems();
                        Swal.fire(
                            "Deleted!",
                            "Your file has been deleted.",
                            "success"
                        );
                    }
                })
                .catch(() => {
                    Swal.fire("Failed!", "There was something wrong", "error");
                });
        },
        changeAction() {
            for (const mykey of Object.keys(this.item)) {
                this.item[mykey] = null;
            }
            this.action = this.action == "get" ? "create" : "get";
        },
    },
    watch: {
        action(newValue) {
            this.textAction = newValue == "get" ? "Create New" : "Back";
        },
    },
};
</script>
<template>
    <div class="table-responsive">
        <div class="container-fluid">
            <div class="row mb-3">
                <div class="col-md-4 ms-auto">
                    <button @click="changeAction" class="btn btn-primary">
                        {{ textAction }}
                    </button>
                </div>
            </div>
            <CustomTable
                v-if="action == 'get'"
                :columns="cols"
                :items="items"
                :editData="editItem"
                :deleteData="deleteItem"
            />

            <CustomForm
                v-if="action == 'create' || action == 'edit'"
                v-model="item"
                :columns="formCols"
                :saveData="saveItem"
            >
                <template #start>
                    <slot name="formstart"></slot>
                </template>

                <template #end>
                    <slot name="formend"></slot>
                </template>
            </CustomForm>
            <slot></slot>
        </div>
    </div>
</template>
