<script>
export default {
    props: {
        columns: Array,
        items: Array,
        editData: Function,
        deleteData: Function,
    },
};
</script>
<template>
    <table
        class="table table-striped table-bordered border-primary text-center"
    >
        <thead>
            <tr role="row">
                <th v-for="header in columns" :key="header">
                    {{ header.title }}
                </th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="item in items" :key="item">
                <td v-for="h in columns" :key="h">
                    <img
                        :src="item[h.key]"
                        width="50"
                        v-if="h.type == 'image'"
                    />
                    <template v-else>
                        {{ item[h.key] }}
                    </template>
                </td>
                <td>
                    <button
                        type="button"
                        @click="editData(item)"
                        class="btn btn-sm btn-info mr-1"
                    >
                        <i class="fa fa-pen"></i>
                    </button>
                    <button
                        type="button"
                        @click="deleteData(item.id)"
                        class="btn btn-sm btn-danger"
                    >
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</template>
